# Database Configuration
POSTGRES_DB=admindb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# JWT Configuration
JWT_SECRET=bXlTZWNyZXRLZXlGb3JKV1RNdXN0QmVBdExlYXN0MjU2Qml0c0xvbmdGb3JIUzI1NkFsZ29yaXRobTIwMjQ=
JWT_EXPIRATION=86400000

# Spring Profile
SPRING_PROFILES_ACTIVE=docker
